<footer
  id="contact"
  class="bg-primary-900"
>
  <div class="container py-10 py-md-7 text-neutral-0">
    <div class="grid">
      <div class="col-5 col-md-4">
        <div>
          <p class="fs-heading-xxxs fs-md-heading-xxxxs">與我聯絡</p>
          <p class="fs-heading-xxxl fs-md-heading-xl">CONTACT</p>
        </div>
        <div class="fs-para-md fs-md-para-sm mb-auto">
          <p>若有數位產品設計和開發相關問題</p>
          <p>歡迎填寫表單 或 直接與我聯絡！</p>
        </div>

        <ul class="d-flex d-sm-none social-icon gap-3">
          <li>
            <a href="#"><i class="bi bi-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="bi bi-line"></i></a>
          </li>
          <li>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </li>
        </ul>
        <a class="d-flex d-sm-none align-items-center fs-para-md"
          ><span class="material-symbols-outlined mr-2"> drafts </span>service@hexschool.com</a
        >
      </div>
      <div class="col-7 col-md-4">
        <form
          action=""
          class="contact-form"
        >
          <input
            class="form-half"
            type="text"
            placeholder="姓名"
          />
          <input
            class="form-half"
            type="tel"
            placeholder="手機號碼"
          />

          <input
            class="form-full"
            type="email"
            placeholder="電子信箱"
          />
          <textarea
            class="form-full"
            name=""
            id=""
            placeholder="備註"
          ></textarea>
          <button
            class="form-full btn btn-white fs-md-label-sm"
            type="submit"
          >
            送出
          </button>
        </form>
      </div>
      <div class="col-4 d-none d-sm-block">
        <ul class="d-flex social-icon gap-3 mb-3">
          <li>
            <a href="#"><i class="bi bi-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="bi bi-line"></i></a>
          </li>
          <li>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </li>
        </ul>
        <a class="d-flex align-items-center fs-para-md fs-md-para-sm"
          ><span class="material-symbols-outlined mr-2"> drafts </span>service@hexschool.com</a
        >
      </div>
    </div>
  </div>
</footer>
