<footer id="contact" class="bg-primary-900">
  <div class="container py-10 py-md-7 text-neutral-0">
    <div class="grid">
      <div class="col-6 col-md-4">
        <div>
          <p class="fs-heading-xxxs fs-md-heading-xxxxs">與我聯絡</p>
          <p class="fs-heading-xxxl fs-md-heading-xl">CONTACT</p>
          <a
            href="mailto:min82814@gmail.com"
            class="d-flex d-sm-none align-items-center fs-para-md"
            ><span class="material-symbols-outlined mr-2"> drafts </span
            >min82814@gmail.com</a
          >
        </div>
      </div>
      <div class="col-6 col-md-4">
        <ul class="d-flex d-sm-none social-icon gap-7">
          <li>
            <a href="https://github.com/MIN82814" target="_blank"
              ><i class="bi bi-github main-icon"></i
            ></a>
          </li>
          <li>
            <a href="mailto:min82814@gmail.com"
              ><i class="bi bi-envelope-fill main-icon"></i
            ></a>
          </li>
          <li>
            <a
              href="https://pda.104.com.tw/profile/share/a6Vlr1nwau4Z4oqB3Is2k3HN9yGiG1lL"
              target="_blank"
              ><i class="bi bi-briefcase"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="col-4 d-none d-sm-block">
        <ul class="d-flex social-icon gap-3 mb-3">
          <li>
            <a href="https://github.com/MIN82814" target="_blank"
              ><i class="bi bi-github main-icon"></i
            ></a>
          </li>
          <li>
            <a href="mailto:min82814@gmail.com"
              ><i class="bi bi-envelope-fill main-icon"></i
            ></a>
          </li>
          <li>
            <a
              href="https://pda.104.com.tw/profile/share/a6Vlr1nwau4Z4oqB3Is2k3HN9yGiG1lL"
              target="_blank"
              ><i class="bi bi-briefcase"></i
            ></a>
          </li>
        </ul>
        <a
          href="mailto:min82814@gmail.com"
          class="d-flex align-items-center fs-para-md fs-md-para-sm"
          ><span class="material-symbols-outlined mr-2"> drafts </span
          >min82814@gmail.com</a
        >
      </div>
    </div>
  </div>
</footer>
