<header>
  <div class="container">
    <div class="d-flex flex-md-wrap py-3 py-md-2 gap-x-5 align-items-center">
      <a
        class="mr-auto"
        href="../../index.html"
      >
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              https://raw.githubusercontent.com/hexschool/2022-web-layout-training/0163848842b749c38a767e05caabbbd18d2f6dc9/2026-web-camp/device-mobile.svg
            "
          />
          <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/0163848842b749c38a767e05caabbbd18d2f6dc9/2026-web-camp/device-pc.svg"
            alt="Nelson Logo"
          />
        </picture>
      </a>
      <button
        type="button"
        class="header-md-menu"
        aria-controls="header-menu"
        aria-expanded="false"
        aria-label="Toggle navigation menu"
      >
        <span class="material-symbols-outlined"> menu </span>
      </button>
      <nav
        id="header-menu"
        class="d-flex header-menu"
      >
        <ul class="d-flex header-item text-neutral-700">
          <li>
            <a href="../../service.html">服務項目</a>
          </li>
          <li>
            <a href="../../projects.html">專案作品</a>
          </li>
          <li>
            <a href="../../blogs.html">部落格</a>
          </li>
          <li>
            <a href="../../index.html/#contact">與我聯絡</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
