<header>
  <div class="container">
    <div class="d-flex flex-md-wrap py-3 py-md-2 gap-x-5 align-items-center">
      <a class="mr-auto" href="index.html">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              https://github.com/MIN82814/PortfolioPhoto/blob/main/ProjectPhoto/MINMIN_LOGO-mobile.png?raw=true
            "
          />
          <img
            src="https://github.com/MIN82814/PortfolioPhoto/blob/main/ProjectPhoto/MINMIN_LOGO.png?raw=true"
            alt="MINMIN Logo"
          />
        </picture>
      </a>
      <button
        type="button"
        class="header-md-menu"
        aria-controls="header-menu"
        aria-expanded="false"
        aria-label="Toggle navigation menu"
      >
        <span class="material-symbols-outlined"> menu </span>
      </button>
      <nav id="header-menu" class="d-flex header-menu">
        <ul class="d-flex header-item text-neutral-700">
          <li>
            <a href="projects.html">專案作品</a>
          </li>
          <li>
            <a href="index.html#contact">與我聯絡</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
