<main class="projectModal-page">
  <div class="modal-overlay"></div>

  <div class="projectModal">
    <header class="modal-header">
      <button class="modal-close" type="button">
        <span class="material-symbols-outlined">close</span>
      </button>
    </header>

    <div class="modal-body">
      <img src="" alt="" class="modal-hero" />

      <div class="modal-text">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <ul class="modal-tech-tags breadcrumb d-flex flex-wrap gap-2"></ul>
          <time class="modal-time" datetime=""></time>
        </div>

        <div>
          <h2 class="modal-title fs-heading-md fs-md-heading-sm mb-3"></h2>
        </div>

        <div class="modal-intro fs-para-md fs-md-para-sm mb-4">
          <h5 class="fw-bold mb-2">專案介紹</h5>
          <p class="modal-intro-text"></p>
        </div>

        <div class="modal-links mb-4 fs-para-md fs-md-para-sm"></div>

        <div class="fs-para-md fs-md-para-sm mb-4">
          <h3 class="fw-bold mb-2">負責內容</h3>
          <div class="grid gap-md-0">
            <div class="col-5 col-md-8 col-sm-4">
             <div class="modal-videos-list mb-4"></div>
            </div>
            <div class="col-7 col-md-8 col-sm-4">
              <ul class="modal-responsibilities ps-4"></ul>
              <div
                class="modal-pages-container mb-3 d-flex flex-wrap gap-2"
              ></div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-content">
        <img src="" alt="專案細節圖" class="modal-content-img" />
      </div>
    </div>
  </div>
</main>
