<main class="projectModal-page">
  <div class="modal-overlay"></div>

  <div class="projectModal">
    <header class="modal-header">
      <button class="modal-close" type="button">
        <span class="material-symbols-outlined"> close </span>
      </button>
    </header>
    <div class="modal-body">
      <img
        src="https://github.com/hexschool/2022-web-layout-training/blob/main/2026-web-camp/project_1.png?raw=true"
        alt="project_1"
        class="modal-hero"
      />
      <div class="modal-text">
        <div class="d-flex justify-content-between">
          <ul class="breadcrumb fs-para-md fs-md-para-sm d-flex">
            <li>平面設計</li>
            <li>平面設計</li>
          </ul>
          <time class="fs-para-md fs-md-para-sm" datetime="2022-10-16"
            >Oct 16, 2022</time
          >
        </div>
        <div>
          <h2 class="fs-heading-md fs-md-heading-sm mb-3 mb-md-2">
            品牌視覺與電商整合，多肉植物品牌電商建置
          </h2>
          <h4 class="fs-para-md fs-md-para-sm">
            從品牌識別設計到 RWD 網站開發，打造療癒系植栽購物體驗
          </h4>
        </div>
        <div class="modal-intro fs-para-md fs-md-para-sm">
          <p>
            我們將大自然的平靜感轉化為數位語彙，透過揉合大地色系與極簡排版，為「PLANTIQUE
            LIFE」建構出專屬的視覺靈魂。在開發過程中，我們秉持對細節的極致追求，確保從品牌
            Logo 到每一個組件的轉場，皆展現像素級的精準。
          </p>
          <ul class="white-space-nowrap">
            <li>設計原則：植栽藝術、日系風格、暖陽視覺</li>
            <li>開發方式：Bootstrap、Javascript</li>
          </ul>
        </div>
        <div>
          <h3>負責內容</h3>
          <ul class="white-space-nowrap">
            <li>
              3
              個文章前後台模組開發，包含文章列表頁、單篇文章頁與後台文章管理頁，
              RWD 介面設計與互動功能實作。
            </li>
            <li>
              開串接 8 支文章模組 RESTful API，透過 API service
              模組化管理前台文章資料、後台 CRUD 與圖片上傳流程，並負責 API
              回傳資料整合與畫面呈現。
            </li>
          </ul>
        </div>
      </div>

      <div class="modal-content">
        <img
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/2026-web-camp/project_modal_pic.png?raw=true"
          alt=""
        />
      </div>
    </div>
  </div>
</main>
