<section class="subscription bg-primary-900">
  <div class="container px-md-0">
    <div class="grid gap-md-0">
      <div class="col-5 col-md-8 col-sm-4">
        <img
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/2026-web-camp/subscription.png?raw=true"
          alt="subscription"
        />
      </div>
      <div class="col-7 col-md-8 col-sm-4">
        <div data-aos="fade-right">
          <div>
            <p class="fs-heading-xxxs fs-md-heading-xxxxs">電子報訂閱</p>
            <h2 class="fs-heading-xxxl fs-md-heading-xl">SUBSCRIPTION</h2>
          </div>
          <p class="fs-para-md fs-md-para-sm mb-3">
            你也在追求設計美感與技術落地的完美平衡嗎？作為資深設計師兼工程師，我深知跨領域協作的痛點。訂閱電子報，我將分享如何利用
            AI 工具提升產能！
          </p>
          <form
            class="subscription-form d-flex"
            action="#"
          >
            <input
              class="mr-auto w-full"
              type="email"
              placeholder="電子信箱"
            />
            <button
              type="submit"
              class="btn btn-white"
            >
              送出
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
